{% extends 'base.html.twig' %}

{% block title %}Liste des spectacles{% endblock %}

{% block body %}
    <h2>Liste des {{ resource }}</h2>

    <ul>
      {% for show in shows %}
        <li>{{ show.title }}
            {% if show.bookable %}
            <span>{{ show.price }} €</span>
            {% endif %}
			{% if show.representations|length==1 %}
            - <span>1 représentation</span>
            {% elseif show.representations|length>1 %}
            - <span>{{ show.representations|length }} représentations</span>
            {% else %}
            - <em>aucune représentation</em>
            {% endif %}
             {% if show.representations|length >=1 %}
        <ul>
            {% for representation in show.representations %}
                <li>Date : {{ representation.schedule|date('d/m/Y G:i:s') }}</li>
				{% if show.location %}
				<li>Lieu : {{ show.location.designation }}</li></br>
				{% else %}
                <em>Lieu : à déterminer</em>
				{% endif %}
            {% endfor %}
        </ul>
        
            {% endif %}
		</li>
      {% endfor %}
    </ul>
{% endblock %}
