{% extends 'base.html.twig' %}

{% block title %}{{ resource}}{% endblock %}
{% block stylesheets %}
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="{{asset('datatables/DataTables-1.11.5/css/jquery.dataTables.min.css')}}"/>
<!-- DataTables Responsive CSS -->
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 14px/1.5 sans-serif; }
</style>
{% endblock %}                
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h4 style="text-align:center">Administration</h4>
	<p style="text-align:center">Créer un nouveau spectacle : <a href="{{ path('app_creat')}}">ici </a></p>
    <h1>{{ resource }}</h1>

    <table id="table_shows" class="display" >
        <thead>
            <tr>
                 <th>Titre</th>
				 <th>Auteur</th>
				 <th>Lieu</th>
				
				 <th>Prix</th>
                 <th>Réservable</th>
            </tr>
        </thead>
        <tbody>
        {% for show  in shows %}
            <tr>
                  <td><a href="{{ path('admin_show', { id: show.id }) }}">{{ show.title|title }}</a></td>
			      <td>              
            {% for collaborateur in show.artistsTypes %}
			{% if collaborateur.type.type=='auteur' %}
                
				   {{ collaborateur.artist.firstname }}
				   {{ collaborateur.artist.lastname }}
					
								
            {% endif %}             
            {% endfor %}
                 </td>
			{% if show.location %}
				  <td>{{ show.location.designation  }}</td>
			{% else %}
                 <td> <em>à déterminer</em></td> 
            {% endif %}
				
                <td>{{ show.price|number_format(2, ',', '.') }}&nbsp;&euro;</td>
            {% if show.bookable %}
                <td>Oui</td>
            {% else %}
                <td>Non</td>
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        
    </table>

    <p>Total: {{ shows|length }} spectacles.</p></div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="{{ asset('datatables/jQuery-3.6.0/jquery-3.6.0.min.js') }}"> </script>
<script type="text/javascript" src="{{ asset('datatables/DataTables-1.11.5/js/jquery.dataTables.min.js') }}"> </script>
<script type="text/javascript" src="{{ asset('datatables/DataTables-1.11.5/js/dataTables.bootstrap.min.js') }}"> </script>
<script>
$(document).ready( function () {
    $('#table_shows').DataTable({
            responsive: true
    });
} );   
</script>
{% endblock %} 



