{% extends 'base.html.twig' %}

{% block title %}Fiche d'un spectacle{% endblock %}

{% block body %}
<h4 style="text-align:center">Administration</h4>
<nav><a href="{{ path('app_admin') }}">Retour à la liste</a></nav>
    <article>
        <p><h2><strong>spectacle:</strong> {{ show.title }} </h2>
		Modifier le spectacle : <a href="{{ path('app_updat', { id: show.id })}}">{{ show.title }}</a></br>
		Supprimer le spectacle : <a href="{{ path('app_delet', { id: show.id })}}">{{ show.title }}</a>
		</p>
        
        {% if show.posterUrl %}
        <p><img src="{{ asset('images/' ~ show.posterUrl) }}" alt="{{ show.title }}" width="200"></p>
        {% else %}
        <canvas width="200" height="100" style="border:1px solid #000000;"></canvas>
        {% endif %}
		
        {% if show.description %}
        <p><strong>Description:</strong> {{ show.description }}</p>
        {% endif %}
		
        {% if show.location %}
        <p><strong>Lieu de création:</strong> {{ show.location.designation }}</p>
        {% endif %}
        
       <p><strong>Prix:</strong> {{ show.price }} €</p>

        {% if show.bookable %}
        <p><em>Réservable</em></p>
        {% else %}
        <p><em>Non réservable</em></p>
        {% endif %}
		        <h2>Liste des représentations</h2>
        {% if show.representations|length>=1 %}
        <ul>
            {% for representation in show.representations %}
               <p>Réservez ici<li>numero du spectacle : {{ representation.id }}</li>
                <li>date : {{ representation.schedule|date('d/m/Y G:i:s') }}</li></p>			   
            {% endfor %}
        </ul>
        {% else %}
        <p>Aucune représentation</p>
        {% endif %}
		
                 <h2>Liste des artistes</h2>
                    <ul>
            {% for collaborateur in show.artistsTypes %}
                <li>
                    {{ collaborateur.artist.firstname }}
                    {{ collaborateur.artist.lastname }}
                    ({{ collaborateur.type.type }})
                </li>              
            {% endfor %}
        </ul>
  

    </article>

    
{% endblock %}
